{% load staticfiles %}

<!doctype html>

<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'image/sunflower.png'%}"/>
    <title> My-Stories</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- W3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Lobster|Open+Sans|Oswald|Raleway|Roboto" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      html, body {
        height: 100%;
        width: 100%;
      }

      #container {
        min-height: 100%;

      }

      #main {
        overflow: auto;
        margin:auto;
      }

      #footer {
        position: relative;
        clear:both;
        margin-top: -100px;
        background-color:#00AAB3;
        min-height: 100px;
      }
    </style>
  </head>

  <body>
    <div id="container">
      <div id="main">
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#00AAB3; !impotant">
          <span class="navbar-text"><h2 style="color:white"><strong>MyLife</strong></h2></span></a>
        </nav>


        <div style="margin-bottom:150px;">
          <div class="container-fluid" >

            <div class="row"  style="margin-top:20px">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center">
                  <h1 style="font-family: 'Lobster', cursive;">Happy 7th monthsary</h1>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top:20px">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="text-center" style="margin-bottom:10px">
                  <img src="{% static 'image/sunflower_1.png'%}" width="128"/>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="text-left">
                  <p style="font-family: 'Roboto', sans-serif;">
                    Sayang selamat 7 bulan ya, senang sudah selama ini aku ada di kedidupan kamu sayang dan bisa ketemu setiap hari :D
                    Sayang bisa membuat aku terus merasa nyaman dan sayang banyak mengajarkan aku sesuatu yang lebih baik.
                    Maaf jika kita sering berantem karena hal-hal ringan, yang seharusnya tidak perlu terjadi.
                    Senang bisa menemani dan melihat sayang dari awal memulai karir hingga sudah bisa menikmati pekerjaannya dan bisa menabung untuk masa depan kamu.
                    Walaupun suatu saat nanti sayang sudah engga sama aku, sayang harus terbiasa ya, jaga diri baik-baik, jangan telat makan, istirahat yang cukup,
                    hati-hati diperjalanan pergi/pulang kantor, kalau naik kereta di gerbong wanita, kalau naik ojek online tasnya ditaruh di depan,
                    kalau jalan di tempat yang sepi jalannya yang cepat ya supaya engga dijahatin orang, maaf bawel dan banyak ngatur kehidupan kamu HAHA :D (7/11/2018)
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <hr width="100%">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <footer id="footer" align="center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p style="margin-top:24px; color:#EEEEF0">Muhammad Nizar Yoga Pratama<br>Copyrights @2017 My-o Stories. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

</html>
